<div class="wrapper bgded overlay" style="background-image:url('/images/main/demo/backgrounds/01.png');">
    <div id="breadcrumb" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <h6 class="heading">Gallery</h6>
      <ul>
        <% menuList.forEach(function(ele){ %>
            <li><a href="javascript:void(0);"><%=ele.name%></a></li>
        <% }) %>          
      </ul>    
      <!-- ################################################################################################ -->
    </div>
  </div>\